@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    --nav-height: 5rem;
    padding-top: var(--nav-height);
    background: #282a38;
  }

  @keyframes slideIn {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }

  /* Mobile view Navbar elements */

  .nav-menu {
    position: fixed;
    left: 0;
    top: -1000%;
    flex-direction: column;
    width: 100%;
    /* border-radius: 10px; */
    border-bottom-width: 2px;
    text-align: center;
    transition: 0.3s;
    /* box-shadow: 0 0px 27px rgba(0, 0, 0, 0.05); */
    background-color: #282a38;
  }

  .nav-menu.active {
    top: 5rem;
  }

  .nav-item {
    margin: 2rem;
    font-size: 25px;
    color: #FFFFFF;
  }


  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #FFFFFF;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    width: 50px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
