@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 4rem;
    font-family: var(--font-abril);
  }
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
