@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 4rem;
    font-family: var(--font-abril);
  }
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    --nav-height: 90px;
    padding-top: var(--nav-height);
  }
  @keyframes slideIn {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
}
